*, ::before, ::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
  }
  
  h2 {
    font-size: 2em;
    padding: .5rem;
    margin-top: .5rem;
    text-align: center;
  }
  /* NAVBAR */

  nav {  
    background-color: rgb(42, 115, 188);
    margin: 0;
    width: 100vw;
  }
  
  #navbar {
    position: fixed;
    top: 0;
    height: 4.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
  }
  
  #navbar li {
    list-style: none;
    display: inline;
    padding: 20px;
  }
  
  #navbar li a {
    text-decoration: none;
    font-size: 24px;
    color: white;
  
  }

  /* HERO SECTION */
  
  #welcome-section {
    padding-top: 6rem;
    height: 100vh;
    text-align: center;
    color: rgb(42, 115, 188);
    background-color: darkgray;
    border: red 1px solid;
  }
  
  #welcome-section h1 {
    color: #fff;
    padding-top: 10rem;
    font-size: 3.7rem;
    padding-bottom: 0;
    margin-bottom: 10px;
  } 
  
  #welcome-section p {
    font-size: 1.85rem;
    font-weight: lighter;
    padding-top: 0;
    margin-top: 0;
  }
  
  .emphasized { 
    font-style: italic; 
    }
  
  .content {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
  }

  /* ABOUT SECTION */
  
  #about {
    height: auto;
    max-height: 90rem;
  }

  /* PROJECTS */
  
  #projects {
    background: linear-gradient(rgba(42, 115, 188, 0.6), white);
    height: 100vh;
    border: blue 1px solid;
  }
  
  .projects-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  /* CONTACT */
