:root {
    --main-color1: rgb(42, 115, 188);
    --main-color2: darkgray;
    --main-color3: white;
}

*, ::before, ::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
  }
  
  h2 {
    font-size: 2em;
    padding: .5rem;
    margin-top: .5rem;
    text-align: center;
  }
  /* NAVBAR */

  nav {  
    background-color: var(--main-color1);
    margin: 0;
    width: 100vw;
  }
  
  #navbar {
    position: fixed;
    top: 0;
    height: 4.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
  }
  
  #navbar li {
    list-style: none;
    display: inline;
    padding: 20px;
  }
  
  #navbar li a {
    text-decoration: none;
    font-size: 24px;
    color: var(--main-color3);
  
  }

  /* HERO SECTION */
  
  #welcome-section {
    padding-top: 6rem;
    height: 100vh;
    text-align: center;
    color: var(--main-color1);
    background-color: var(--main-color2);
  }
  
  #welcome-section h1 {
    color: #fff;
    padding-top: 10rem;
    font-size: 3.7rem;
    padding-bottom: 0;
    margin-bottom: 10px;
  } 
  
  #welcome-section p {
    font-size: 1.85rem;
    font-weight: lighter;
    padding-top: 0;
    margin-top: 0;
  }
  
  .emphasized { 
    font-style: italic; 
    }
  
  .content {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
  }

  /* ABOUT SECTION */
  
  #about {
    height: auto;
    min-height: 100vh;
    font-size: 1.12rem;
    background-image: url("images/about-background6.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    margin-bottom: 0;
  }

  #about p {
    font-size: 1.3rem;
  }

  /* PROJECTS */
  
  #projects {
    height: auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2rem;
    padding-top: 0;
  }

  .projects-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2rem 0;
    height: 97rem;
  }

  .project {
    width: 49%;
    max-height: 44rem;
    margin-top: 0;
  }

  #projects h2 {
    background: linear-gradient(rgba(42, 115, 188, 0.7), var(--main-color3));
    padding-top: 4.5rem;
    margin-top: 0;
  }

  .project-tile {
    border: 2px solid var(--main-color1);
    padding: 0;
    height: auto;
    max-height:45rem;
    margin-bottom: 1.5rem;
  }

  .heading {
    padding-bottom: 1rem;
    font-weight: bold;
    background-color: var(--main-color2);
    padding-top: 1rem;
    border-bottom: 2px solid var(--main-color1);
    color: var(--main-color3);
  }

  .project-image {
    width: 100%;
    display: block;
    margin: auto;
  }

  .project-info {
    border-top: 2px solid var(--main-color1);
    height: auto;
    min-height: 13rem;
  }

  .project-info a {
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color1)
  }

  .project-info a:hover {
    color: var(--main-color2)
  }

 .project-tile, .project p {
    text-align: center;
  } 

  .description {
    text-align: left;
    padding: 0 .75rem;
  }

  /* CONTACT */

  #contact {
    background-color: var(--main-color2);
  }

  #contact h2 {
    font-size: 3rem;
    padding-top: 3rem;
    margin-bottom: 1rem;
  }
  
  #profile-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  #profile-links li {
    list-style: none;
    display: inline-block;
    padding: 0 1rem;
    text-align: center;
  }

  #profile-links i {
    font-size: 3rem;
  }

  #profile-links a {
    text-decoration: none;
    color: var(--main-color1);
    font-weight: 500;
  }

  #profile-links a:hover {
    color: var(--main-color3);
  }  

  /* FORM */

  #form {
    margin: auto;
    width: 40%;
    padding-bottom: 2rem;
  }

  input, textarea {
    display: block;
    margin: .5rem 0;
    padding: .25rem;
    width: 100%;
  }

  label {
    margin: 0;
    padding: 0;
  }

 fieldset {
    border: none;
  }

  #submit {
    font-size: 1rem;
    padding: .25rem;
    width: 5rem;
    margin-left: 1.1rem;
  }


  /* FOOTER */

  footer {
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--main-color2);
    color: var(--main-color1);
    border-top: 5px solid var(--main-color1);
    padding: 2rem;
  }

