:root {
    --main-color1:  rgb(42, 115, 188);
    --main-color2: darkgray;
}

*, ::before, ::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
  }
  
  h2 {
    font-size: 2em;
    padding: .5rem;
    margin-top: .5rem;
    text-align: center;
  }
  /* NAVBAR */

  nav {  
    background-color: var(--main-color1);
    margin: 0;
    width: 100vw;
  }
  
  #navbar {
    position: fixed;
    top: 0;
    height: 4.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
  }
  
  #navbar li {
    list-style: none;
    display: inline;
    padding: 20px;
  }
  
  #navbar li a {
    text-decoration: none;
    font-size: 24px;
    color: white;
  
  }

  /* HERO SECTION */
  
  #welcome-section {
    padding-top: 6rem;
    height: 100vh;
    text-align: center;
    color: var(--main-color1);
    background-color: var(--main-color2);
  }
  
  #welcome-section h1 {
    color: #fff;
    padding-top: 10rem;
    font-size: 3.7rem;
    padding-bottom: 0;
    margin-bottom: 10px;
  } 
  
  #welcome-section p {
    font-size: 1.85rem;
    font-weight: lighter;
    padding-top: 0;
    margin-top: 0;
  }
  
  .emphasized { 
    font-style: italic; 
    }
  
  .content {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
  }

  /* ABOUT SECTION */
  
  #about {
    height: auto;
    max-height: 90rem;
  }

  /* PROJECTS */
  
  #projects {
    height: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .project {
    width: 49%;
    max-height: 42rem;
    margin-bottom: 1rem;
    margin-top: 0;
    
  }

  #projects h2 {
    background: linear-gradient(rgba(42, 115, 188, 0.7), white);
    padding-bottom: .7em;
  }
  
  .projects-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .project-tile {
    border: 2px solid var(--main-color1);
  }

  .heading {
    padding-bottom: 1rem;
    font-weight: bold;
    background-color: var(--main-color2);
    padding-top: 1rem;
    border-bottom: 2px solid var(--main-color1);
    color: white;
  }

  .project-image {
    width: 100%;
    display: block;
    margin: auto;
  }

  .project-info {
    border-top: 2px solid var(--main-color1);
    height: 15rem;
  }

  .project-info a {
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color1)
  }

  .project-info a:hover {
    color: var(--main-color2)
  }

 .project-tile, .project p {
    text-align: center;
  } 

  .description {
    text-align: left;
    padding: 0 .75rem;
  }

  /* CONTACT */

  #profile-links li {
    list-style: none;
  }

  .fa-brands {
    color: var(--main-color1);
  }
